################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DepVisBe/.vs/DepVisBe/FileContentIndex/9f30781e-ba46-4b4a-b688-f82385626d54.vsidx
/DepVisBe/.vs/DepVisBe/FileContentIndex/9f30781e-ba46-4b4a-b688-f82385626d54.vsidx
